<!DOCTYPE html>
<html lang="es" ng-app="phonecatApp">

<head>
    <title>Task</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=yes">
</head>

<body ng-cloak>
    <div class="container mt-5">
        <ng-view autoscroll="true"></ng-view>
    </div>
    <div
    ng-controller="taskController as tasks"
    class="page-task"
>
    <div class="card shadow-sm mb-4 p-4">
        <h3 ng-click="tasks.addTask()">your task's list</h3>
       
    </div>
</div>
    <!-- Angular -->
    <script type="text/javascript" src="js/angular/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-route/angular-route.min.js"></script>

    <!-- App -->
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="config/config.js"></script>
    <script type="text/javascript" src="controller/taskController.js"></script>
    <!-- Services -->
    <script src="service/tokenSrv.js"></script>
    <script src="service/todoSrv.js"></script>
    <!-- firebase -->
    <script src="https://www.gstatic.com/firebasejs/7.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.10.0/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.10.0/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.10.0/firebase-storage.js"></script>
    <script type="text/javascript" src="js/angularfire/dist/angularfire.min.js"></script>
</body>


</html>